@import "tailwindcss";

@theme {
  --color-primary: #F81B84;
  --color-secondary: #ffb629;
  --color-accent: #43C0F6;
  --color-neutral: #F2EEE2;
  --color-neutral-content: #FFFFFF;
  --color-base-content: #f1f3f6;
}